 @font-face {
     font-family: myFirstFont;
     src: url(sansation_light.woff);
 }
 
 body {
     background-image: url(./istockphoto-1299730469-170667a.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     opacity: 90;
     padding-top: 65px;
 }
 
 .container {
     font-family: myFirstFont;
     margin: auto;
     padding: auto;
 }
 
 nav {
     font-family: myFirstFont;
 }
 
 #navbarNav {
     padding-left: 40%;
 }
 
 .navbar-nav>li {
     padding-right: 40px;
 }
 
 .jumbotron {
     background: rgb(0, 0, 0);
     /* Fallback color */
     background: rgba(0, 0, 0, 0.5);
     /* Black background with 0.5 opacity */
     color: #f1f1f1;
     /* Grey text */
     padding: 20px;
     /* Some padding */
 }
 
 .jumbotron.background {
     background: url(klematis.jpg) repeat;
     border: 2px solid black;
 }
 
 .jumbotron.transbox {
     margin: 30px;
     background-color: #ffffff;
     border: 1px solid black;
     opacity: 5;
 }
 
 .jumbotron.transbox p {
     margin: 5%;
     font-weight: bold;
     color: #000000;
 }
 
 #cont1 {
     color: white;
     font-size: 100%;
     font-style: normal;
 }
 
 div.row {
     background: url(klematis.jpg) repeat;
     border: 1px solid black;
     opacity: 1;
 }
 
 #cont1 {
     font-size: 30px;
     background: rgb(0, 0, 0);
     /* Fallback color */
     background: rgba(0, 0, 0, 0.5);
     /* Black background with 0.5 opacity */
     color: #f1f1f1;
     /* Grey text */
     padding: 20px;
     /* Some padding */
 }
 
 #cont1.col-8 {
     margin: 30px;
     background-color: #ffffff;
     border: 1px solid black;
     opacity: 5;
 }
 
 #cont1.col-8 p {
     margin: 5%;
     font-weight: bold;
     color: #000000;
 }